@model Assignment_3.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f8f9fa;
        color: #343a40;
    }

    h1, h2 {
        color: #007bff;
        text-align: center;
        font-weight: bold;
    }

    .edit-container {
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        margin-top: 10px;
        margin-right: 10px;
        font-weight: bold;
    }

    input.form-control {
        margin-bottom: 10px;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: 1px solid #007bff;
        padding: 8px 16px;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border: 1px solid #0056b3;
        }

    a {
        text-decoration: none;
        color: #007bff;
    }

        a:hover {
            text-decoration: underline;
        }
</style>


<br />
<h1>Employee</h1>

<div class="edit-container">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="EmpId" class="control-label">Employee ID</label>
            <input asp-for="EmpId" class="form-control" />
            <span asp-validation-for="EmpId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="EmpName" class="control-label">Employee Name</label>
            <input asp-for="EmpName" class="form-control" />
            <span asp-validation-for="EmpName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="JoiningDate" class="control-label">Joining Date</label>
            <input asp-for="JoiningDate" class="form-control" />
            <span asp-validation-for="JoiningDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="City" class="control-label">City</label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary btn-save float-end rounded-pill link-light" />
            <button class="btn btn-warning rounded-pill link-light"> <a class="link-light" asp-action="Index"><i class="bi bi-arrow-left-short"></i> Back To List </a> </button>

        </div>
    </form>
</div>


